html {
   font-family: Helvetica Neue, Arial, sans-serif;
}
body {
  background-image: url(../../images/apex.jpg);
  background-repeat: no-repeat;
  background-position: 50% 15%;
}
p {
  position: fixed;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
  color: white;
  text-transform: uppercase;
  font-size: 5em;
  padding: 0;
  width: 85%;
  margin: 0;
  opacity: 0.75;
}
footer {
  position: fixed;
  bottom: 0;
  background-color: black;
  width: 100%;
  margin: 0;
  padding: 1em 0;
  left: 0;
  color: white;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 2px;
}
